.text-manager{
    display: flex; 
    justify-content: center;
}

.text-container{
    border: 1px solid black;
    height: 200px;
    overflow-y: scroll;
    width: 50%;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-container button{
    height: 30px;
    width: 100px;
    margin: 5px;
}

.textItem{
    padding: 10px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    display: flex;
    justify-content: space-between;
}

.textItem div:first-child{
    width: 70%;
    /* For large texts, cut and put them in one line */ 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.textItem div:last-child{
    width: 30%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: right;
}

.textItem:hover{
    background-color: gainsboro;
}

.textItem.selected{
    background-color: blue;
}

.textItem.selected div{
    color: white;
    font-weight: bold;
}

